* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

/* Global */

.container {
    width: 70%;
    margin: 0 auto;
}

h1 {
    font-size: 45px;
    font-weight: 600;
    line-height: 55px;
    color: #004fa8;
}

h2 {
    font-size: 35px;
    font-weight: 600;
    line-height: 55px;
    color: #004fa8;
}

h3 {
    font-size: 25px;
    font-weight: 600;
    line-height: 55px;
    color: #004fa8;
}

p {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: #535353;
}

.main-button {
    background-color: #1a76dc;
    color: #ffffff;
    padding: 10px 30px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 10px 30px rgba(44, 116, 252, 0.5);
}

.main-button a {
    text-decoration: none;
    color: #ffffff;
}

.main-button:hover {
    background-color: #106bd3;
}

.secondary-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 15px 30px;
    cursor: pointer;
    background-color: #f8f8f8;
}

.secondary-button p {
    color: #004fa8;
    padding-right: 20px;
    font-weight: 500;
}

.secondary-button:hover{
    box-shadow: 5px 10px 30px rgba(129, 173, 255, 0.5);
}

/* Head */

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    width: 80%;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 100;
}

.logo p{
    font-size: 30px;
    font-weight: 600;
}

.logo p span{
    color: #1a76dc;
}

.logo a {
    text-decoration: none;
    color: #535353;
}

nav {
    display: flex;
    flex-basis: 80%;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li a{
    text-decoration: none;
    color: #535353;
    padding: 0 20px;
}

nav ul li a:hover {
    color: #004fa8;
}

/* hover annimation */

nav ul li::after { 
    content: '';
    width: 0;
    height: 2px;
    background-color: #b2d6ff;
    display: block;
    margin: auto;
    transition: .5s;
}

nav ul li:hover::after {
    width: 60%;
}


/* Slider */

.slider {
    display: flex;
    align-items: center;
    background-color: #fcfcfc;
    padding: 250px 0;
}

.slider-text {
    width: 550px;
}


.slider-text h1 span{
    display: block;
}

.slider-text p{
    width: 450px;
    padding: 20px 0;
}

.slider-img {
    position: absolute;
    top: 0;
    right: 0;
}

.slider-btn {
    width: 200px;
}

/* Search Doctor */

.search-block {
    padding: 60px 100px;
    position: relative;
    transform: translateY(-70px);
    width: 60%;
    margin: 0 auto;
    background-color: #fcfcfc;
    box-shadow: 5px 10px 30px rgba(209, 209, 209, 0.5);
    border-radius: 10px;
}

.search-input {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-input input {
    background-color: #ffffff;
    border: none;
    border-bottom: 0.02px solid #f1f1f1;
    padding: 15px 30px;
    text-align: center;
}

.search-input input:hover {
    background-color: #f8f8f8;
}

/* How It Works */

.howitworks {
    padding: 100px 0;
}

.howitworks .main-text {
    width: 500px;
}

.main-text p {
    padding: 20px 0;
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1;
}

.text-cards {
    display: flex;
    flex-direction: column;
    background-color: #fcfcfc;
    border-radius: 5px;
    box-shadow: 5px 10px 30px rgba(209, 209, 209, 0.5);
    width: 500px;
}

.single-card-active {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 5px 5px 0 0;
    padding: 50px;
    box-shadow: 5px 10px 30px rgba(209, 209, 209, 0.5);
}

.single-card-active:hover {
    background-color: #ffffff;
    box-shadow: 5px 10px 30px rgba(209, 209, 209, 0.5);
}

.single-card-text {
    padding-left: 30px;
}

.single-card-inactive {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 50px;
    border-top: 0.02px solid #f1f1f1;
}

.single-card-inactive:hover {
    background-color: #ffffff;
    box-shadow: 5px 10px 30px rgba(209, 209, 209, 0.5);
}

.single-card-inactive .special-heading {
    padding-left: 30px;
}

/* Pricing */

.pricing {
    padding: 100px 0;
    background-color: #fcfcfc;
}

.pricing-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1;
}

.pricing-card {
    background-color: #ffffff;
    box-shadow: 5px 10px 30px rgba(209, 209, 209, 0.5);
}

.pricing-card-heading {
    padding: 70px 0;
    text-align: center;
}

.pricing-card-body {
    background-color: #f8f8f8;
    padding: 50px;
    text-align: left;
}

.pricing-card-body p {
    padding-left: 20px;
}

.pricing-text-1 {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.pricing-text {
    width: 450px;
}

.pricing-main-text p {
    padding: 20px 0;
}

.pricing-text .secondary-button {
    width: 180px;
}

/* Choose A Doctor */

.doctor-choice {
    padding: 100px 0;
}

.doc-choice-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1;
}

.doctor-choice-information {
    width: 25rem;
}

.doc-choice-heading p {
    padding: 20px 0;
}

.doctor-choice-information .secondary-button {
    width: 15rem;
}

.doctors-profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.doctors-profile-first {
    padding-top: 70px;
}

.doctor-profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fcfcfc;
    border-radius: 5px;
    padding: 30px;
    width: 16rem;
}

.doctor-1 .doctor-profile-card {
    margin-right: 50px;
}

.doctor-2 .doctor-profile-card {
    margin-right: 50px;
    margin-top: 50px;
}

.doctor-4 .doctor-profile-card {
    margin-top: 50px;
}


.doctor-1 .doctor-profile-card {
    background-color: #ffffff;
    box-shadow: 5px 10px 30px rgba(209, 209, 209, 0.5);
}

.doctor-profile-card:hover {
    box-shadow: 5px 10px 30px rgba(209, 209, 209, 0.5);
}

.doc-name {
    color: #004fa8;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0;
}

.doctor-profile-card .profile-img img {
    width: 100px;
    padding: 3px;
    border: 2px solid #b2d6ff;
    border-radius: 50%;
}

.rating-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.rating-star {
    padding-right: 20px;
}

/* Video Content */

.online-content {
    background-color: #fcfcfc;
    padding: 100px 0;
}

.online-video-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1;
}

.content-thumb {
    background-color: #ffffff;
    box-shadow: 5px 10px 30px rgba(209, 209, 209, 0.5);
    width: 500px;
    border-radius: 10px;
}

.video-thumb img {
    width: 500px;
    border-radius: 10px 10px 0 0;
}

.video-headline-active {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin-top: -8px;
    box-shadow: 5px 10px 30px rgba(209, 209, 209, 0.5);
}

.video-headline-active img {
    padding: 10px 12px;
    background-color: #004fa8;
    border-radius: 50%;
    box-shadow: 5px 10px 30px rgba(209, 209, 209, 0.5);
}

.video-headline-active p {
    padding: 5px 20px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.video-headline-inactive {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-top: 0.02px solid #f1f1f1;
}

.video-headline-inactive img {
    padding: 10px 12px;
    background-color: #d2e7ff;
    border-radius: 50%;
    box-shadow: 5px 10px 30px rgba(209, 209, 209, 0.5);
}

.video-headline-inactive p {
    padding: 5px 20px;
    font-size: 20px;
    line-height: 30px;
}

.video-headline-inactive:hover {
    background-color: #ffffff;
    box-shadow: 5px 10px 30px rgba(209, 209, 209, 0.5);
}

.content-info {
    width: 450px;
}

.content-text p {
    padding: 20px 0;
}

.content-info .secondary-button {
    width: 175px;
}


/* App Download */

.app-download {
    padding: 100px 0;
    background-color: #1a76dc;
}

.appstore-sec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 1;
}

.phone-app-screen img {
    transform: translateY(107px);
}

.app-info {
    width: 500px;
}

.app-info h1 {
    color: #ffffff;
}

.app-info p {
    color: #ffffff;
}

.store-badge {
    padding: 50px 0;
}

.store-badge img {
    cursor: pointer;
}

.store-badge img:first-child {
    padding-right: 30px;
}

.app-download .secondary-button {
    background-color: #9bbeff80;
    width: 255px;
    box-shadow: none;
}

.app-download .secondary-button:hover {
    box-shadow: 5px 10px 30px rgba(30, 109, 255, 0.5);
}


/* Footer */

.footer-info {
    padding: 100px 0;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
}

.footer-menu h3{
    padding-bottom: 20px;
}

.footer-quick-menu p {
    color: #535353;
}

.footer-quick-menu ul li {
    color: #535353;
}

.medical-info p {
    padding-bottom: 10px;
}

.medical-info p:last-child {
    padding-bottom: 0;
}

.social-icon img{
    padding-top: 20px;
    padding-right: 10px;
    width: 50px;
    cursor: pointer;
}

.services-menu ul {
    list-style-type: none;
}

.services-menu li {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    cursor: pointer;
}

.moreinfo-menu ul {
    list-style-type: none;
}

.moreinfo-menu li {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    cursor: pointer;
}

.quick-app-badge {
    display: flex;
    flex-direction: column;
}

.quick-app-badge img {
    width: 200px;
    padding-bottom: 20px;
    cursor: pointer;
}

.quick-app-badge img:last-child {
    padding-bottom: 0;
}

.special-footer-message {
    padding-top: 100px;
    color: #535353;
}

/* Footer Copyright */

.footer-message {
    background-color: #f1f1f1;
    padding: 50px 0;
}

.footer-copyright-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-copyright-info p {
    color: #b3b3b3;
}

.copyright-info span {
    display: block;
    padding-top: 10px;
}

.footer-quicklink ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;   
}

.footer-quicklink li {
    color: #b3b3b3;
    margin: 0;
    padding: 0 20px;
    border-right: 1px solid #ececec;
    cursor: pointer;
}

.footer-quicklink li:last-child{
    border-right: none;
    padding-right: 0;
}

/* Responsive Layout */

@media (max-width : 750px) {

    .container {
        width: 80%;
    }

    h1 {
        font-size: 40px;
        line-height: 50px;
    }

    h2 {
        font-size: 30px;
        line-height: 40px;
    }

    h3 {
        font-size: 20px;
        line-height: 30px;
    }

    p {
        font-size: 14px;
        line-height: 24px;
    }

    /* head */

    nav ul li{
        display: none;
    }

    .head .main-button {
        display: none;
    }

    .head {
        flex-basis: 100%;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }

    /* slider */

    .slider-text {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 30px;
    }

    .slider-text h1 span {
        display: inline;
    }

    .slider-text p {
        width: 100%;
        text-align: center;
    }

    .slider-img {
        display: none;
    }

    .slider-btn {
        width: 100%;
    }

    /* searchblock */

    .search-block {
        width: 70%;
        padding: 70px 50px;
        transform: translateY(-100px);
    }

    .search-input {
        flex-basis: 100%;
        flex-direction: column;
        width: 100%;

    }

    .search-input input {
        padding: 15px 50px;
    }

    .search-input input:nth-child(2) {
        margin: 20px 0;
    }

    .search-block .main-button {
        margin-top: 30px;
        width: 100%;
    }

    /* services */

    .howitworks .main-text {
        width: 100%;
        text-align: center;
        padding-bottom: 50px;
    }

    .cards {
        width: 100%;
    }

    .text-cards {
        width: 100%;
    }

    .img-card img {
        display: none;
    }

    .single-card-text {
        padding: 0;
    }

    .single-card-text h3{
        padding: 20px 0;
    }

    .single-card-active {
        flex-basis: 100%;
        flex-direction: column;
        text-align: center;
    }

    .single-card-inactive {
        flex-basis: 100%;
        flex-direction: column;
        text-align: center;
    }

    .single-card-inactive .special-heading {
        padding-left: 0;
    }

    .special-heading {
        padding: 20px 0;
    }

    /* pricing */

    .pricing-section {
        flex-basis: 100%;
        flex-direction: column;
    }

    .pricing-card {
        width: 100%;
    }

    .pricing-text {
        width: 100%;
        text-align: center;
        order: -1;
    }

    .pricing-text .secondary-button {
        width: 100%;
        margin-bottom: 50px;
    }

    .pricing-main-text {
        width: 100%;
        padding-bottom: 30px;
    }

    /* doctor selection  */

    .doc-choice-content {
        flex-basis: 100%;
        flex-direction: column;
    }

    .doc-choice-heading {
        padding-bottom: 30px;
    }

    .doctor-choice-information {
        width: 100%;
        text-align: center;
    }

    .doctor-choice-information .secondary-button {
        width: 100%;
    }

    .doctors-profile-first {
        width: 100%;
        padding-top: 50px;
    }

    .doctor-1 .doctor-profile-card {
        margin-right: 0;
    }

    .doctor-2 .doctor-profile-card {
        margin-right: 0;
    }

    .doctors-profile-second {
        display: none;
    }

    /* video content  */

    .online-video-content {
        flex-basis: 100%;
        flex-direction: column;
    }

    .content-thumb {
        width: 100%;
    }

    .video-thumb img {
        width: 100%;
    }

    .content-info {
        order: -1;
        text-align: center;
        width: 100%;
        padding-bottom: 50px;
    }

    .content-info .secondary-button {
        width: 100%;
    }

    .video-heading-text p {
        font-size: 16px;
        padding-right: 0;
    }

    .content-text {
        padding-bottom: 30px;
    }

    .video-headline-active p {
        padding: 0 0 0 20px;
    }

    .video-headline-inactive p {
        padding: 0 0 0 20px;
    }


    /* app download */

    .appstore-sec {
        flex-basis: 100%;
        flex-direction: column;
    }

    .app-info {
        order: -1;
        text-align: center;
        width: 100%;
    }

    .app-info .secondary-button {
        width: 100%;
    }

    .store-badge img {
        padding: 10px 0;
    }

    .store-badge img:first-child {
        padding-right: 0;
    }

    .phone-app-screen img {
        width: 100%;
    }

    /* footer */

    .footer-menu {
        flex-basis: 100%;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .services-menu {
        margin: 50px 0;
    }

    .download {
        margin-top: 50px;
    }

    .quick-app-badge {
        flex-basis: 100%;
        align-items: center;
    }

    .special-footer-message p {
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }

    /* Footer Copyright */

    .footer-copyright-info {
        flex-basis: 100%;
        flex-direction: column;
        text-align: center;
    }

    .copyright-info span {
        padding: 20px 0;
    }
}
